BODY{    COLOR: #7d7d7d;    FONT-FAMILY: Tahoma;    FONT-SIZE: 11px ;	margin-left: 30%;}
Texto{ FONT-SIZE: 13px ; FONT-FAMILY: Tahoma; }
P{    COLOR: #7d7d7d;    FONT-FAMILY: Tahoma;    FONT-SIZE: 11px;    MARGIN-BOTTOM: 4px;    MARGIN-TOP: 4px}
TABLE.Top{    BORDER-BOTTOM: #c0c0c00 1px;    BORDER-LEFT: #c0c0c0 1px solid;    BORDER-RIGHT: #c0c0c0 1px solid;    BORDER-TOP: #c0c0c0 1px solid}
TABLE.Middle{    BORDER-BOTTOM: #c0c0c0 1px;    BORDER-LEFT: #c0c0c0 1px solid;    BORDER-RIGHT: #c0c0c0 1px solid;    BORDER-TOP: #c0c0c0 1px}
TABLE.Bottom{    BORDER-BOTTOM: #c0c0c0 1px solid;    BORDER-LEFT: #c0c0c0 1px solid;    BORDER-RIGHT: #c0c0c0 1px solid;    BORDER-TOP: #c0c0c0 1px}.NoBreakBeforeAfter{    MARGIN-BOTTOM: 0px;    MARGIN-TOP: 0px}
TD.Shadow1Back{    BACKGROUND-IMAGE: url(images/Shadow1Back.gif);    BACKGROUND-POSITION: center top;    BACKGROUND-REPEAT: repeat-x}.Indented12L{    MARGIN-LEFT: 12px}.DoubleBreakBefore{    MARGIN-TOP: 8px}.Indented8L{    MARGIN-LEFT: 8px}
IMG.Bordered{    BORDER-BOTTOM: #000000 1px solid;    BORDER-LEFT: #000000 1px solid;    BORDER-RIGHT: #000000 1px solid;    BORDER-TOP: #000000 1px solid}
TD.VSeparator1Back{    BACKGROUND-IMAGE: url(images/VSeparator1Back.gif);    BACKGROUND-POSITION: center center;    BACKGROUND-REPEAT: repeat-y}
P.Font1{    COLOR: #ac8062;    FONT-FAMILY: Tahoma;    FONT-SIZE: 15px}.Indented8R{    MARGIN-RIGHT: 8px}
UL.nav {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
UL.nav LI {	DISPLAY: inline; LIST-STYLE-TYPE: none}
UL.nav LI A {	 BORDER-RIGHT: #909090 0.1em solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #fff 0.1em solid; PADDING-LEFT: 0px; BACKGROUND: #f1f1f1; FLOAT: left; PADDING-BOTTOM: 0.2em; FONT: 0.80em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #fff 0.1em solid; WIDTH: 7.15em; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #909090 0.1em solid; TEXT-ALIGN: center; TEXT-DECORATION: none}
UL.nav A:hover {	BORDER-LEFT-COLOR: #000; BACKGROUND: #999; BORDER-BOTTOM-COLOR: #fafafa; COLOR: #fff; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #fafafa}*{margin: 0; padding: 0;}
body{	font-family: arial, helvetica, sans-serif;	font-size: 14px;}
.menu{list-style:none; border:1px solid #c0c0c0; float:left; }
.menu li{position:relative; float:left; border-right:1px solid #c0c0c0; }
.menu li a{color:#333; text-decoration:none; padding:5px 0.572em; display:block;} 
.menu li a:hover{background:#333; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; text-shadow:0px 0px 5px #fff; }
.menu li   ul{position:absolute; top:24px; left:0; background-color:#fff; display:none; }
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{border:1px solid #c0c0c0; display:block; width:200px;}
body {	margin:0;padding:0;	text-align:center; /* hack para o IE */		}
#tudo {	width: 752px;	margin:0 auto;				text-align:left; /* "remédio" para o hack do IE */		}
#conteudo {	padding: 5px;	}